.mainContainer {
  min-height: calc(100vh);
  background-color: #f5f6f8;
}

.mainNavBar {
  height: 3.75rem;
  background-color: #fff;
}

.mainFooter {
  height: 3.75rem;
  background-color: #fff;
}

.postContainer {
  padding: 0 50px;
}